<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Home</title>
</head>

<body>
    <section id="section">
        <h1>Redirect yourself!</h1>
        <div class="base-text">
            <form action="#" method="post" class="form">
                <input class="user-inputbox" type="text" name="title" required="required"
                    placeholder="Enter custom url here!">
                <button class="submit-button" type="submit" value="submit">Take me to link!</button>
            </form>
        </div>

        <!-- <div class="button-container">
            <form action="{{ url_for('inbox') }}">
                <button class="check-data">Previous Redirect</button>
            </form>
        </div> -->
    </section>
</body>

</html>