<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="css/main.css">

<body>
    <section id="section">
        <div class="info">
            <% if (info["_id"] !== 0) { %>
            <h1>Welcome back, <%= info["linker"] %>! </h1>
            <% } else { %>
            <h1>Redirect yourself!</h1>
            <% } %>
            <% if (message !== undefined && message["warning"]) { %>
            <div class="alert alert-warn base-text"><%= message["warning"] %></div>
            <% } %>
        </div>

        <form action="#" method="POST" class="form">
            <input class="user-inputbox" type="text" name="userlink" required="required" id="input"
                placeholder="<%- info["_id"] !== 0 ? "Create a new field..." : "Create your field or continue from before..." %>">

            <% if (info["_id"] !== 0) { %>
            <button class="submit-button" type="submit" value="submit">Go to Field</button>
            <a class="anchor" href="/inbox">Previous Redirect</a>
            <% } else { %>
            <button class="submit-button" type="submit" value="submit">Go to Field</button>
            <% } %>
        </form>
    </section>
</body>

</html>