<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/main.css">

<body>
    <section id="section">
        <h1>Redirect yourself!</h1>
        <div class="base-text">
            <form action="#" method="post" class="form">
                <input class="user-inputbox" type="text" name="title" required="required"
                    placeholder="Enter custom url here!">
                <button class="submit-button" type="submit" value="submit">Take me to link!</button>
            </form>
        </div>

        <!-- <div class="button-container">
            <form action="{{ url_for('inbox') }}">
                <button class="check-data">Previous Redirect</button>
            </form>
        </div> -->
    </section>
</body>

</html>