<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="area.css">

<body>
    <section id="section">
        <% if (!info.length) { %>
        <h1>Hello, <%= info["linker"] %>!</h1>
        <% } %>

        <div class="base-text">
            <form action="#" class="form" method="POST">
                <textarea class="user-inputbox" type="text" name="textinput"
                    placeholder="Save your text here!"><%= info["text"] %></textarea>
                <button class="submit-button" type="submit">Save</button>
            </form>

            <form action="/">
                <button class="check-data" type="menu" style="margin-top: 20px;">Back home</button>
            </form>
        </div>
    </section>
</body>

</html>