<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="area.css">

<body>
    <section id="section">
        <h1>Hello, <%= info["linker"] %>!</h1>

        <div class="base-text">
            <form action="/inbox" class="form" method="POST">
                <textarea class="user-inputbox" type="text" name="textinput"
                    placeholder="Save your text here!"><%= info["text"] %></textarea>
                <button class="submit-button" type="submit">Save</button>
            </form>

            <nav class="form">
                <a class="check-data" href="/" style="margin-top: 20px;">Back Home</a>
            </nav>
        </div>
    </section>
</body>

</html>