* {
    font-weight: 400;
    font-family: 'Roboto mono', monospace;
    text-overflow: ellipsis;
}

body {
    background-color: rgb(255, 242, 223);
}

section {
    border: 3px;
    border-style: solid;
    border-radius: 7px;
    border-color: rgb(255, 187, 0);
    box-shadow: 7px 14px 5px 1px rgba(0, 0, 0, 0.2);

    background-color: rgb(83, 83, 83);
    max-width: 960px;
    margin: auto;
    margin-top: 75px;
    padding: 30px;
    overflow: hidden;
}

h1 {
    font-weight: 400;
    color: rgb(255, 145, 0);
}

.base-text>* {
    font-size: 15px;
    color: rgb(255, 187, 0);
}

.form {
    display: flex;
    min-height: 35px;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 20px;
}

.submit-button {
    width: 25%;

    color: rgb(255, 187, 0);
    background-color: transparent;
    border: 1px;
    border-style: solid;
    border-radius: 2px;
    transition: 0.2s;
}

.submit-button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 187, 0);
    border: transparent;
    transition: 0.2s;
}

.submit-button:active {
    opacity: 70%;
    border: transparent;
    transition: 0.2s;
}

.user-inputbox {
    width: 100%;
    padding-left: 10px;
    border: transparent;
    border-radius: 3px;
}

.check-data {
    color: rgb(255, 187, 0);
    background-color: transparent;
    border: 1px;
    border-style: solid;
    border-radius: 2px;

    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    transition: 0.3s;
}

.check-data:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 187, 0);
    border-color: rgb(255, 187, 0);
    transition: 0.3s;
}

.check-data:active {
    opacity: 70%;
    border-color: rgb(255, 187, 0);
    transition: 0.3s;
}